<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SEMI</title>
</head>
<body>
  <header class="display-flex justify-space-between align-center p-2">
  <h1>
  SEMI<br>
  Side Effect May Include...
  </h1>
  <nav>
    <a href="/">Home</a>
    <a href="/aboutUs">About Us</a>
    <a href="/ContactUs">Contact Us</a>
    {{#if logged_in}}
      <a href="/profile">Profile</a>
      <button class="btn" id="logout">Logout</button>
    {{else}}
      <a href="/login">Login</a>
    {{/if}}
  </nav>
  </header>
  <main class="container container-fluid mt-5"> 
    {{{ body }}}
  </main>
  <footer>
      {{!-- copyright, --}}
  </footer>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  

</body>
</html>