{{!-- Search Bar --}}
<div class="row">
    <form class="col s12" id="search-form">
      <div class="row">
        <div class="input-field col s12" id="searchbar">
            <textarea id="textarea1" class="materialize-textarea" name="q"></textarea>
            <label for="textarea1">Search For a Drug</label>
            <input type="submit" value="Search!" />
        </div>
      </div>
    </form>
  </div>

{{!-- Carousel --}}
  <div class="carousel carousel-slider center" id="carousel">
    {{#each drugs}}
    <a class="carousel-item red white-text" href="/drugs/{{id}}">
      <h2>{{product_name}}</h2>
      <img class= "image" src="/images/{{product_name}}.jpg" alt="{{product_name}}">
      <p class="white-text"> </p>
    </a>
    {{/each}}
  </div>


  