{{!-- TO PASTE IN JS>script.js --}}
  {{!-- 
  $('#textarea1').val('New Text');
  M.textareaAutoResize($('#textarea1')); 
  --}}

{{!-- 
var instance = M.Carousel.init({
    fullWidth: true,
    indicators: true
});
$(document).ready(function () {
    $('.carousel.carousel-slider').carousel();
    setInterval(function () {
        $('.carousel.carousel-slider').carousel('next');
    }, 3500);
});
 --}}



{{!-- Search Bar --}}
<div class="row">
    <form class="col s12" id="search-form">
      <div class="row">
        <div class="input-field col s12" id="searchbar">
            <textarea id="textarea1" class="materialize-textarea" name="q"></textarea>
            <label for="textarea1">Search For a Drug</label>
            <input type="submit" value="Search!" />
        </div>
      </div>
    </form>
  </div>

{{!-- Carousel --}}
  <div class="carousel carousel-slider center" id="carousel">
    {{#each drugs}}
    <div class="carousel-item red white-text" href="/drugs/{{product_name}}">
      <h2>{{product_name}}</h2>
      <img class= "image" src="/images/{{product_name}}.jpg" alt="{{product_name}}">
      <p class="white-text"> </p>
    </div>
    {{/each}}
  </div>


  