{{!-- TO PASTE IN JS>script.js --}}
  {{!-- 
  $('#textarea1').val('New Text');
  M.textareaAutoResize($('#textarea1')); 
  --}}

{{!-- 
var instance = M.Carousel.init({
    fullWidth: true,
    indicators: true
});
$(document).ready(function () {
    $('.carousel.carousel-slider').carousel();
    setInterval(function () {
        $('.carousel.carousel-slider').carousel('next');
    }, 3500);
});
 --}}



{{!-- Search Bar --}}
<div class="row">
    <form class="col s12" id="search-form">
      <div class="row">
        <div class="input-field col s12" id="searchbar">
            <textarea id="textarea1" class="materialize-textarea" name="q"></textarea>
            <label for="textarea1">Search For a Drug</label>
            <input type="submit" value="Search!" />
        </div>
      </div>
    </form>
  </div>

{{!-- Carousel --}}
  <div class="carousel carousel-slider center" id="carousel">
    {{#each drugs}}
    <div class="carousel-item red white-text" href="#one!">
      <h2>{{product_name}}</h2>
      <img src="/images/{{product_name}}.jpg" alt="{{product_name}}">
      <p class="white-text"> </p>
    </div>
    {{/each}}
    <hr />
    {{!-- <div class="carousel-fixed-item center">
      <a class="btn waves-effect white grey-text darken-text-2">button</a>
    </div> --}}
    <div class="carousel-item red white-text" href="#one!">
      <h2>Xanax</h2>
      <img src="rest-image" alt="public/images/Xanax.jpg">
      <p class="white-text"> </p>
    </div>
    <div class="carousel-item amber white-text" href="#two!">
      <h2>Zoloft</h2>
      <img src="rest-image" alt="public/images/Zoloft.jpg">
      {{!-- <p class="white-text">This is your second panel</p> --}}
    </div>
    <div class="carousel-item green white-text" href="#three!">
      <h2>Prozac</h2>
      <img src="rest-image" alt="public/images/Prozac.jpg">
      {{!-- <p class="white-text">This is your third panel</p> --}}
    </div>
    <div class="carousel-item blue white-text" href="#four!">
      <h2>Lorazepam</h2>
      <img src="rest-image" alt="public/images/Lorazepam.jpg">
      {{!-- <p class="white-text">This is your fourth panel</p> --}}
    </div>
      <div class="carousel-item blue white-text" href="#four!">
      <h2>Lexapro</h2>
      <img src="rest-image" alt="public/images/Lexapro.jpg">
      {{!-- <p class="white-text">This is your fourth panel</p> --}}
    </div>
      <div class="carousel-item blue white-text" href="#four!">
      <h2>Klonopin</h2>
      <img src="rest-image" alt="public/images/Klonopin.jpg">
      {{!-- <p class="white-text">This is your fourth panel</p> --}}
    </div>
      <div class="carousel-item blue white-text" href="#four!">
      <h2>Byfavo</h2>
      <img src="rest-image" alt="public/images/Byfavo.jpg">
      {{!-- <p class="white-text">This is your fourth panel</p> --}}
    </div>
  </div>


  